.bg-image{
    background-image: url('../../Images/liverpool.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

#player{
    color:goldenrod;
}

.card-height{
    height: 5px;
}
.total{
    color: white;
    justify-content: space-between;
    text-align: center;
    background-color: red;
}