.bg-image{
    background-image: url('../../Images/liverpool.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

#player{
    color:violet;
}

.card-height{
    height: 5px;
}